.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
analyses/0401-blastp/GO-GOslim.sorted
analyses/0401-blastp/uniprot-SP-GO.sorted
paper-pacific.oyster-larvae/
data/20190403-MSstats-report.csv
msstats-1.log
msstats.log
sessionInfo.txt
.RDataTmp
analyses/0409/uniprot-SP-GO.sorted
analyses/0409/_MSout-sep.tab
analyses/0409/_MSout-sort.tab
analyses/david-comp-mstat-copy.txt
msstats-2.log
msstats-3.log
analyses/david-comp-mstat-copy.txt
msstats-2.log
analyses/david-comp-mstat-copy.txt
analyses/david-comp-mstat-copy.txt
analyses/20190403-2015Cgseed-protcomp.csv
.DS_Store
.RDataTmp1
analyses/peptideVolcanoPlot.pdf
.DS_Store
scripts/msstats-10.log
scripts/msstats-11.log
scripts/msstats-12.log
scripts/msstats-13.log
scripts/msstats-14.log
scripts/msstats-15.log
scripts/msstats-8.log
scripts/msstats-9.log
.RData 2
