
.Rproj.user
.Rhistory
.RData
.Ruserdata

.DS_Store

analyses/0401-blastp/GO-GOslim.sorted
analyses/0401-blastp/uniprot-SP-GO.sorted
paper-pacific.oyster-larvae/
data/20190403-MSstats-report.csv
msstats-1.log
msstats.log
sessionInfo.txt
.RDataTmp
analyses/0409/uniprot-SP-GO.sorted
analyses/0409/_MSout-sep.tab
